/* CSS File */

h2{clear:left; font-family: Arial}
   
ul{
    list-style: none
}
    
li { 
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    margin: 2px
}

svg.escudo {
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
}

svg.escudo:hover{
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}
